<!-- <template name='viewMoreDevelopers'>

		{{>showAllDevelopers}}

</template>
 -->

<template name='showAllDevelopers'>
  <div class="row-fluid">
    <article>
    	<h3>Meteor Developers</h3>
        
        <div class="input-append pull-right hide">
          <input id="appendedInputButtons" type="text" placeholder='Location (e.g: Brooklyn, New York)'>
          <button class="btn" type="button">Search</button>
        </div>          
                    	
        <table class='table table-bordered table-striped'>
          <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th></th>
          </tr>
          </thead>
              {{#if developers}}
                  {{#each developers}}
                  <tr>
                    <td class="span4">
                      {{name}}
                    </td>
                    <td class="span5">
                      {{address}}
                    </td>
                    <td class="span1">
						        <center><a class='btn btn-primary btn-small' href="/developer/profile/{{username}}">Profile</a></center>
                    </td>
                  </tr>
                  {{/each}}
              {{/if}}
        </table>
    </article>
  </div>
   <div class="row-fluid">
  {{> paginate_pages}}
  </div>
</template>

