#leftContainer{

}

#rightContainer{
	height:100%;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 768px){
	#leftContainer{

		width: 63%;
		float:left;
	}
	#rightContainer{
		width:30%;
		float:left;
		margin-left:2%;
	}
}

#personalStatement, #skillExpertise, #education { 
	width:90%;
	height:50px;
	resize:none;
}
#additonalInfo{ 
	width:90%;
	height:70px;
	resize:none;
}
#experience{
	width:90%;
	height:100px;
	resize:none;
}

#emailDevProfile, #phoneDevProfile, #addressDevProfile, #urlDevProfile{ 
	width:60%;
	height:20px;
	margin-right:20%;
}

#viewContact li{
	display:inline;
	font-size:40%;
}
.view{
	font-size:60%;
	line-height: 1em;
}
#avatarView{
	float:left;
}
#confirmNameBtn{
	width:35%;
}