#submitRegister, #clearBtn{
	width:150px;
	height:40px;
}

#companyTextErrorRegisterMsg, #addressTextErrorRegisterMsg, #emailTextErrorRegisterMsg, #usernameTextErrorRegisterMsg, #password1TextErrorRegisterMsg, #password2TextErrorRegisterMsg{
	color:red;
	padding-left: 15px;
}
/*.textField::-webkit-input-placeholder {
    color: red;
}
*/