html, body {
  background: #F2F2F2;
}

.iserif {
  font-family: Georgia, serif;
  font-style: italic;
}

.center-text {
  text-align: center;
}

.small {
  font-size: 12px;
}

.logo {
  font-size: 12px;
  color: #F2F2F2;
  margin: 0px;
}

.light-text {
  color: #F2F2F2;
}

.radio.inline { /* Fix for chrome */
  white-space: nowrap;
}

#loginBtn {
  margin-top: 15px;
}

#body-section {
  margin-top: 80px;
}

#post-description {
  height: 150px;
}
.btn{
  margin-bottom:5px;
}
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #body-section {
    margin-top: 0px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #body-section {
    margin-top: 0px;
  }

  .lead {
    font-size: 18px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  #body-section {
    margin-top: 0px;
  }
}