<!-- <template name='viewMoreEmployers'>

		{{>showAllEmployers}}

</template> -->


<template name='showAllEmployers'>
  <div class='row-fluid'>
    <article>
    	<h3>Meteor Employers</h3>
        
        <div class="input-append pull-right hide">
          <input id="appendedInputButtons" type="text" placeholder='Location (e.g: Brooklyn, New York)'>
          <button class="btn" type="button">Search</button>
        </div>          
                    	
        <table class='table span12'>
          <thead>
          <tr>
            <th>Company</th>
            <th>Location</th>
            <th></th>
          </tr>
          </thead>
              {{#if employers}}
                  {{#each employers}}
                  <tr>
                    <td class="span4">
                      {{company}}
                    </td>
                    <td class="span5">
                      {{address}}
                    </td>
                    <td class="span1">
						          <center><a class='btn btn-primary btn-small' href="/employer/profile/{{username}}">Profile</a></center>
                    </td>
                  </tr>
                  {{/each}}
              {{/if}}
        </table>
    </article>
  </div>
  <div class="row">
  {{> paginate_pages}}
  </div>
</template>

