<template name='login'>
	{{#if currentUser}}
	
	<div id="welcomeDiv">
		Welcome, 
		{{#if roles}}
			<img src="{{user.avatarUrl}}" width="50" height="50" id="avatar">
			<a id="profile" href="/developerProfile"> {{user.username}} </a>
		{{else}}
			<img src="{{employer.avatarUrl}}" width="50" height="50" id="avatar">
			<a id="profile" href="/employerProfile"> {{user.username}} </a>
		{{/if}}
	</div>
  	<button type='button' class='btn' id="logoutBtn" >Log out</button>
  
	{{else}}
		<button type='button' class='btn' id="loginBtn" data-toggle="modal" href="#loginModal">Login</button>
	{{/if}}
</template>

<template name='loginForm'>
    <div id="loginModal" class="modal hide fade" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Login as:</h3>
		</div>

		<div class="modal-body">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th><center><h4>Developers</h4></center></th>
						<th><center><h4>Employers</h4></center></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><center><button type='button' class='btn btn-primary' id="githubBtn">Github Account</button></center></td>
						<td>
							<form>
							  <fieldset>
							    Username:<br/>
							    <input type="text" id="usernameEmployerLogin"><br/>
							    Password:<br/>
							    <input type="password" id="passwordEmployerLogin"><br/>
							    <div id="employerLoginErroMsg"></div>
							    <button type="button" class="btn" id="employerLoginBtn">Login</button>
							    <button type="button" class="btn btn-primary" id="registerBtn" data-toggle="modal" href="#registerModal" >Register</button>
							  </fieldset>

							</form>
						</td>
					</tr>
				</tbody>

			</table>
		</div>

<!-- 		<div class="modal-footer">
			<a href="#" class="btn">Close</a>
		    <a href="#" class="btn btn-primary">Save changes</a>
		</div>
	   		<button type='button' class='btn btn-primary' id="githubBtn">Github Login</button> -->
    </div>


</template>
